.articleList {
  counter-reset: list;
  list-style-type: none;
  font: 14px/1.6 "arial narrow", sans-serif;
  padding: 0;
}

.article {
  padding: 0 0 0 20px;
  margin: 7px 0 7px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  border-bottom: dashed 1px #f6a38b;
}

.articleDate {
  color: gray;
}

/* 詳細ページ */
.articleText {
  min-height: 500px;
  margin: 0 20px;
}
