/* リスト */
.artistList {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-flex-wrap: wrap; /* Safari etc. */
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0;
}

.artist {
  width: 250px;
  padding: 0 0 0 20px;
  margin: 7px 0 7px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

.artistImg {
  width: 100%;
  padding-right: 20px;
}

/* 詳細ページ */
.artistWrap {
  text-align: center;
}

.videoList {
  list-style: none;
  margin-top: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.artistParts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artistContent {
  margin-bottom: 30px;
}

.articleList {
  display: flex;
}
