html,
body {
  background-color: #33ddff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.box {
  background-color: aliceblue;
  padding: 10px;
  margin: 20px;
}

h2 {
  padding: 1rem 2rem;
  border-left: 6px double #000;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

a:hover {
  text-decoration: underline;
}

// 検索フォーム
.sForm {
  position: relative;
  max-width: 300px;
}
.sBox {
  height: 50px;
  padding: 0 10px;
  left: 0;
  top: 0;
  border-radius: 2px;
  outline: 0;
  background: #eee;
}
.sBtn {
  width: 40px;
  height: 55px;
  position: absolute;
  right: 0px; /*アイコン左右の位置調整*/
  top: 0;
  background: none;
  color: #666;
  border: none;
  font-size: 20px; /*アイコンサイズ*/
}
.sBtn:hover {
  color: #7fbfff;
}

.sBtn:focus {
  outline: 0;
}

// Pagination styling
$purple-color: #745788;
$purple-color-lighter: #d9c5e6;

.paginate-wrap {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 100%;
  flex-wrap: wrap;
  background: #ccc;
  body.light & {
    background: #fafafa;
  }
  .paginate-a,
  .paginate-next-a,
  .paginate-prev-a,
  .paginate-break-a {
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    &:focus {
      outline: 0;
    }
    &:hover {
      background: $purple-color;
      background: $purple-color-lighter;
    }
  }
  .paginate-li {
    margin: 0 0.2rem;
  }
  .paginate-next-a,
  .paginate-prev-a {
    color: $purple-color;
    margin: 0 0.3rem;
  }
  .paginate-active {
    border: 2px solid $purple-color-lighter;
    background: $purple-color-lighter;
  }
  .paginate-disabled > a {
    cursor: not-allowed;
    background: transparent;
    color: #666;
    body.light & {
      color: #ccc;
    }
    &:hover {
      background: transparent !important;
    }
  }
}
