.container {
  width: 80%;
  margin: 10px auto 6rem;
}

.isLoading {
  opacity: 0.5;
}

.backToHome {
  margin: 3rem 0 0;
}

@media screen and (max-width: 559px) {
  .container {
    width: 98%;
  }
}
